.input {
  display: none;
}
.label {
  cursor: pointer;
  width: var(--toggle-size);
  height: calc(var(--toggle-size)/2);
  background: var(--switch-bg);
  display: block;
  position: relative;
  border-radius: calc(var(--toggle-size) * 0.25);
  box-shadow: var(--toggle-box-shadow);
}
.toggle {
  width: calc(var(--toggle-size) * 0.4);
  height: calc(var(--toggle-size) * 0.4);
  position: absolute;
  background-color: var(--switch-btn-color);
  top: calc(var(--toggle-size) * 0.05);
  left: calc(var(--toggle-size) * 0.05);
  transition: 0.3s;
  border-radius: 50%;
}
.input:checked + label span {
  left: calc(var(--toggle-size) * 0.55);
}
.toggle svg {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: auto;
  width: calc(var(--toggle-size) * 0.38);
  height: auto;
  fill: yellow;
  color: orange;
}