.container {
  width: 100%;
  min-height: 100vh;
  overflow:hidden;
  color: var(--character-color);
}
.container section {
  margin: 40px;
}
.container main {
  display: flex;
  justify-content: center;
}
.wrapper {
  min-width: 820px;
  max-width: 1240px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  column-gap: 20px;
  row-gap: 20px;

}